*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #ff676d;
    place-items: center;
    display: grid;
    
}
.box{
    max-width: 400px;
    background-color: red;
}